<div class="container" >
    <h1 class="text-center my-3">My Profile</h1>
 
    <div class="login-card" style="background-color:rgb(243, 233, 233);;
    box-shadow: 10px 10px 5px 5px rgb(231, 243, 248);">
      <img class="profile-img-card" src="assets/img/Profile.jpg" />
      <p class="profile-name-card"></p>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <p class="text-center">
            <strong>Firstname:</strong> {{ user.firstName }}
          </p>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-7 offset-md-3">
          <p class="text-center"><strong>Email:</strong> {{ user.email }}</p>
        </div>
       
      </div>
      <div class="row">
        <!-- <div class="col-md-6 offset-md-3">
          <p class="text-center"><strong>Password : </strong>
            <span *ngIf="showPassword">{{ user.password }}</span>
            <span *ngIf="!showPassword">*********</span>
            <button (click)="togglePasswordVisibility()">
              <i class="far" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
            </button>
          </p>
        </div> -->
        <div class="col-md-7 offset-md-3">
          <p class="text-center"><strong>Password : </strong>
            <span *ngIf="showPassword">{{ user.password }}</span>
            <span *ngIf="!showPassword">*********</span>
              <img (click)="togglePasswordVisibility()" width="20px" height="20px"
                src="assets\img\lock.png"
                alt="Password Toggle"
                [ngClass]="{'show-password-icon': showPassword}"
              />
          </p>
        </div>
       
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <p class="text-center">
            <strong>UserType:</strong> {{ user.userType }}
          </p>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-12">
          <p class="text-center my-2">
            <a
            class="btn btn-primary edit_profile_btn"
            routerLink="/edit-profile/{{ user_id }}"
            >Edit Profile</a
          >
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <!-- <button (click)="goToUserBookings()" class="btn btn-primary">View Bookings</button> -->
      </div>
    </div>
  </div>
 