<div>
<table border="1" class="table table-bordered">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Medication</th>
      <th>Strength</th>
      <th>Dosage</th>
      <th>Frequency</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let prescription of prescriptions">
      <tr *ngIf="prescription.medications.length > 0">
        <!-- <td [rowspan]="prescription.medications.length">{{ prescription.patientName }}</td> -->
        <td [attr.rowspan]="prescription.medications.length">{{ prescription.patientName }}</td>

        <td>{{ prescription.medications[0].medName }}</td>
        <td>{{ prescription.medications[0].strength }}</td>
        <td>{{ prescription.medications[0].dosage }}</td>
        <td>{{ prescription.medications[0].frequency }}</td>
      </tr>
      <ng-container *ngFor="let medication of prescription.medications.slice(1)">
        <tr>
          <td>{{ medication.medName }}</td>
          <td>{{ medication.strength }}</td>
          <td>{{ medication.dosage }}</td>
          <td>{{ medication.frequency }}</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
</div>