<h3 class="text-center my-5 items_title" style="color: black;"> View Appointment</h3>

<div class="container" >
    <div class="search-container">
        <input type="text" placeholder="Search..." class="form-control">
        <button class="search-btn">Search</button>
    </div>
    <!-- <div class="card items_card"> -->
        <div class="card-body">
    <table id="mytable" class="table table-bordered" style="background-image: url(https://media.istockphoto.com/id/1367756031/vector/light-blue-watercolor-background-illustration.jpg?s=612x612&w=0&k=20&c=qiJl7j-2terwHd-1YJxiFIo1VJx6l6IsmoqlgeypQ7c=);">
        <thead>
            <th style="width:5%;">user_id</th>
            <th style="width:5%;">Name</th>
            <th style="width: 30px;">DOB</th>
            <th style="width:5%;">Phonenumber</th>
            <th style="width:5%;">Healthissue</th>
            <th style="width:5%;">SelectDoctor</th>
            <th style="width:10%;">SelectDate</th>
            <th style="width:5%;">SelectSlot</th>
            <th style="width:5%;">SelectCity</th>
            <th style="width:5%;">SelectHospital</th>
            <th style="width:5%;">Gender</th>
            <th style="width:5%;">Age</th>
         
            
        </thead>
        <tbody>
            <tr *ngFor="let ScheduleAppointment of  userBookings">
        <!-- <tr *ngFor="let ScheduleAppointment of ScheduleAppointment; let i=index"> -->
            <td>{{ScheduleAppointment.user_id}}</td>
            <td>{{ScheduleAppointment.name}}</td>
            <td>{{ScheduleAppointment.dob}}</td>
            <td>{{ScheduleAppointment.phoneNumber}}</td>
            <td>{{ScheduleAppointment.healthIssue}}</td>
            <td>{{ScheduleAppointment.selectDoctor}}</td>
            <td>{{ScheduleAppointment.selectDate}}</td>
            <td>{{ScheduleAppointment.selectSlot}}</td>
            <td>{{ScheduleAppointment.selectCity}}</td>
            <td>{{ScheduleAppointment.selectHospital}}</td>
            <td>{{ScheduleAppointment.gender}}</td>
            <td>{{ScheduleAppointment.age}}</td>
                <!-- <td>
                    <button (click)="confirmCancel(ScheduleAppointment.user_id)">Cancel</button>
                </td>
                <td>
                    <button (click)="confirmReschedule()">Reschedule<a [routerLink]="'/book'"></a></button>
                </td> -->
           <!---- <td>{{ScheduleAppointment.status}}</td>-->
            <!-- <td>
                <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash del_icon" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                </a>
            </td> -->
        
        </tr>
    </tbody>
    </table>

<!-- </div> -->
</div>
</div>


