<h3 class="text-center my-5 items_title" style="color: rgb(10, 25, 32);">Patients History</h3>
<div class="row">
    <div>
        <div class="column">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/3135/3135789.png?ga=GA1.1.1740824250.1678456628" alt="Card image" style="width:30%">
                <div class="card-body">
                  <h4 class="card-title">Peddamandem Likhitha</h4>
                  <p class="card-text">Age : <i>23</i>    ||   BloodGroup : <i>B +ve</i></p>
                  <a href="#" class="btn btn-primary" [routerLink]="'/a'">See Profile</a>
                </div>
              </div>
        </div>
        <div class="column" >
            <div class="card" style="width:400px">
                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/3135/3135789.png?ga=GA1.1.1740824250.1678456628" alt="Card image" style="width:30%">
                <div class="card-body">
                  <h4 class="card-title">Mandem Sushmitha</h4>
                  <p class="card-text">Age : <i>24</i>    ||   BloodGroup : <i>AB +ve</i></p>
                  <a href="#" class="btn btn-primary" [routerLink]="'/b'">See Profile</a>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Card image" style="width:30%">
                <div class="card-body">
                  <h4 class="card-title"> Basireddy Pranay</h4>
                  <p class="card-text">Age : <i>45</i>    ||   BloodGroup : <i>O +ve</i></p>
                  <a href="#" class="btn btn-primary" [routerLink]="'/c'">See Profile</a>
                </div>
              </div>
        </div>
    </div>
    <div>
        <div class="column">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Card image" style="width:30%">
                <div class="card-body">
                  <h4 class="card-title">ChinnaMandem Ravi</h4>
                  <p class="card-text">Age : <i>45</i>    ||   BloodGroup : <i>A -ve</i></p>
                  <a href="#" class="btn btn-primary" [routerLink]="'/d'">See Profile</a>
                </div>
              </div>
        </div>
        <div class="column">
          <div class="card" style="width:400px">
              <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/128/3135/3135789.png?ga=GA1.1.1740824250.1678456628" alt="Card image" style="width:30%">
              <div class="card-body">
                <h4 class="card-title"> Kodidhi Manasa</h4>
                <p class="card-text">Age : <i>35</i>    ||   BloodGroup : <i>AB +ve</i></p>
                <a href="#" class="btn btn-primary" [routerLink]="'/e'">See Profile</a>
              </div>
            </div>
      </div>
        <div class="column" >
            <div class="card" style="width:400px">
                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Card image" style="width:30%">
                <div class="card-body">
                  <h4 class="card-title">Nagendra Naidu</h4>
                  <p class="card-text">Age : <i>40</i>    ||   BloodGroup : <i>O -ve</i></p>
                  <a href="#" class="btn btn-primary" [routerLink]="'/f'">See Profile</a>
                </div>
              </div>
        </div>
    </div>
    <div>
</div>

