<h1 class="text-center my-5 customer_dashboard_title">Patient Dashboard</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/book" class="view_book_link">
                <div class="card-body">
                    <img src="../../assets/img/Doctor.png" style="margin-left: 40px;" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">Book Appointment</h5>
                    <p class="text-muted text-center">Here you can book appointments.</p>
                    
                </div>
                </a>
              </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="card admin_dashboard_card">
                <a routerLink="/ViewAppointment" class="view_ViewAppointment_link">
                <div class="card-body">
                    <img src="../../assets/img/Vi.jpeg" class="admin_dashboard_img" alt="" height="200px" width="250px">
                    <h5 class="text-center my-3"> View Appointments</h5>
                    <p class="text-muted text-center">Here you can view appointments and cancel and Reschedule an appointment..</p>
                </div>
                </a>
              </div>
        </div> -->
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/viewitems" class="view_viewitems_link">
                <div class="card-body">
                    <img src="https://t4.ftcdn.net/jpg/04/63/63/59/360_F_463635935_IweuYhCqZRtHp3SLguQL8svOVroVXvvZ.jpg" style="margin-left: 40px;"  height="215px" width="200px" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">Request a call </h5>
                    <p class="text-muted text-center">To Book Appointment through a call..</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/patient-report" class="view_patient-report_link">
                <div class="card-body">
                    <img src="https://us.123rf.com/450wm/rawpixel/rawpixel1610/rawpixel161032607/63958374-medical-report-record-form-history-patient-concept.jpg?ver=6" style="margin-left: 40px;"  height="215px" width="200px" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">Patient Reports</h5>
                    <p class="text-muted text-center">Here you can see the patient reports..</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/feedback-form" class="feedback-form">
                <div class="card-body">
                    <img src="../../assets/img/feedback.jpg"  style="margin-left: 40px;" class="customer_dashboard_img" alt="" height="215px" width="200px">
                    <h5 class="text-center my-3">Feedback</h5>
                    <p class="text-muted text-center">Here you can give Feedback..</p>
                </div>
                </a>
              </div>
        </div>
        
    </div>
</div>