<h1 class="text-center my-5 admin_dashboard_title">Doctor Dashboard</h1>

<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/ViewAppointment" class="view_ViewAppointment_link">
                <div class="card-body">
                    <img src="../../assets/img/Dp.jpeg" style="margin-left: 40px;" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">Doctor Appointments</h5>
                    <p class="text-muted text-center">Here you can see appointments.</p>
                    
                </div>
                </a>
              </div>
        </div> -->
        <!-- <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/add-doctor" class="add-doctor">
                <div class="card-body">
                    <img src="../../assets/img/p.jpg"  style="margin-left: 40px;" class="customer_dashboard_img" alt="" height="215px" width="250px">
                    <h5 class="text-center my-3">Patients History</h5>
                    <p class="text-muted text-center">Here you can see patients History..</p>
                </div>
                </a>
              </div>
        </div> -->
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/prescription" class="prescription">
                <div class="card-body">
                    <img src="../../assets/img/pres.jpeg"  style="margin-left: 40px;" class="customer_dashboard_img" alt="" height="215px" width="250px">
                    <h5 class="text-center my-3">Prescription</h5>
                    <p class="text-muted text-center">Here you can add the prescription..</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/patient-report" class="patient-report">
                <div class="card-body">
                    <img src="https://us.123rf.com/450wm/rawpixel/rawpixel1610/rawpixel161032607/63958374-medical-report-record-form-history-patient-concept.jpg?ver=6"  style="margin-left: 40px;" class="customer_dashboard_img" alt="" height="215px" width="250px">
                    <h5 class="text-center my-3">Patient Reports</h5>
                    <p class="text-muted text-center">Here you can see patient Reports..</p>
                </div>
                </a>
              </div>
        </div>
    </div>
</div>
