<h1 class="text-center my-5 admin_dashboard_title">Admin Dashboard</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card admin_dashboard_card">
                <a routerLink="/book" class="view_book_link">
                <div class="card-body">
                    <img src="../../assets/img/A.png" class="admin_dashboard_img" alt="" height="200px" width="300px">
                    <h5 class="text-center my-3">Book Appointment</h5>
                    <p class="text-muted text-center">Here we can book an appointment.</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card admin_dashboard_card">
                <a routerLink="/ViewAppointment" class="view_ViewAppointment_link">
                <div class="card-body">
                    <img src="../../assets/img/Vi.jpeg" class="admin_dashboard_img" alt="" height="200px" width="250px">
                    <h5 class="text-center my-3"> View Appointments</h5>
                    <p class="text-muted text-center">Here you can view appointments and cancel an appointment..</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card admin_dashboard_card">
                <a routerLink="/patient-report" class="patient-report">
                <div class="card-body">
                    <img src="https://us.123rf.com/450wm/rawpixel/rawpixel1610/rawpixel161032607/63958374-medical-report-record-form-history-patient-concept.jpg?ver=6" class="admin_dashboard_img" alt="" height="200px" width="300px">
                    <h5 class="text-center my-3">Patient Reports</h5>
                    <p class="text-muted text-center">Here we can see the Patient Reports..</p>
                </div>
                </a>
              </div>
        </div>
    </div>
</div>